@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #000;
  color: #eee;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #eee;
}

header {
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

header a {
  margin-right: 48px;
}

.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -50px;
  position: relative;
}

.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .content .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic {
  font-weight: bold;
  font-size: 5em;
  line-height: 1.3em;
}

.carousel .list .item .content .topic {
  color: #f1683a;
}

.carousel .list .item .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel .list .item .content .buttons button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-weight: 500;
  cursor: pointer;
}

.carousel .list .item .content .buttons button:nth-child(2) {
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
}

.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}

.thumbnail .item .content .title {
  font-weight: bold;
}

.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #eee4;
  font-family: monospace;
  color: #fff;
  font-weight: bold;
  font-size: large;
  transition: .5s;
}

.arrows button:hover {
  background-color: #eee;
  color: #555;
}